<h2>Various examples</h2>
<h3>
  Confirm Action Example
</h3>
<p>An example on how to confirm an action before it's applied to the table:</p>
<div class="with-source">
  <a
    class="source"
    href="https://github.com/dj-fiorex/angular2-smart-table/blob/master/projects/demo/src/app/pages/examples/various/advanced-example-confirm.component.ts"
    target="_blank"
    >Demo Source</a
  >
  <advance-example-comfirm></advance-example-comfirm>
</div>

<h3>
  Multi select
</h3>
<p>An example on how to use multi select mode:</p>
<div class="with-source">
  <a
    class="source"
    href="https://github.com/dj-fiorex/angular2-smart-table/blob/master/projects/demo/src/app/pages/examples/various/basic-example-multi-select.component.ts"
    target="_blank"
    >Demo Source</a
  >
  <basic-example-multi-select></basic-example-multi-select>
</div>

<h3>
  Row Selection
</h3>
<p>An example on how select a row programmatically</p>
<div class="with-source">
  <a
    class="source"
    href="https://github.com/dj-fiorex/angular2-smart-table/blob/master/projects/demo/src/app/pages/examples/various/row-selection/basic-example-row-selection.component.ts"
    target="_blank"
    >Demo Source</a
  >
  <basic-example-row-selection></basic-example-row-selection>
</div>

<h3>
  Virtual Scroll
</h3>
<p>An example on how to use virtual scroll</p>
<div class="with-source" style="margin-bottom: 50px">
  <a
    class="source"
    href="https://github.com/dj-fiorex/angular2-smart-table/blob/master/projects/demo/src/app/pages/examples/various/virtual-scroll/basic-example-virtual-scroll.component.ts"
    target="_blank"
  >Demo Source</a
  >
  <basic-example-virtual-scroll></basic-example-virtual-scroll>
</div>

<h3>
  Virtual Scroll with Infinite Scroll
</h3>
<p>An example on how to use virtual scroll and infinite scroll together when loading data from the server in batches instead of all at once</p>
<div class="with-source" style="margin-bottom: 50px">
  <a
    class="source"
    href="https://github.com/dj-fiorex/angular2-smart-table/blob/master/projects/demo/src/app/pages/examples/various/virtual-scroll/advanced-example-virtual-scroll.component.ts"
    target="_blank"
  >Demo Source</a
  >
  <advanced-example-virtual-scroll></advanced-example-virtual-scroll>
</div>
